<div style="float: left; width: 400px;">
  <h3>Recipes</h3>

  <p>
    <%= link_to "Add Recipe", new_recipe_path %>
  </p>
  A list of Recipes

</div>

<div style="float: left; width: 400px;">
  <h3>Ingredients</h3>
  <%= link_to "Add Ingredient", new_ingredient_path %>
  <p>
    A list of Ingredients
  </p>
  <% @ingredients.each do |ingredient| %>
    <%= debug ingredient %>
  <% end %>

</div>